@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

$font-stack:    'Roboto Condensed', sans-serif;
$primary-color: #6be5b4;
$secondary-color: #666;

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font: 100% $font-stack;
}

a, a:hover { text-decoration: none; }

a, h1, h2, h3, p, label, textarea { 
  color: $secondary-color;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 60px;
  letter-spacing: -5px;
}

h2 { 
  font-size: 40px;
  letter-spacing: -3px;
}

h3 { font-size: 25px; }

p {
  font-size: 15px;
  padding: 10px 0;
}

.inline { display: inline-block; }


.nav-bar {
  background: #fff;
  border-bottom: 1px solid $secondary-color;
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  ul{
    list-style-type: none;
    overflow: hidden;
  }

  li{
     float: right;
     height: 99px;

    a {
      display: block;
      color: $secondary-color;
      text-align: center;
      padding: 14px 16px;
    }
  }

 /* li:not(.logo) {
    a {
      padding: 34px 16px;
    }
  }*/

  li:hover:not(.logo) {
    background-color: $primary-color;

    a {
      color: #fff;
    }
  }

  .logo {
    float: left;

    a {
      padding: 0 40px;
      margin: 15px 0;
    }
  }
}

.scrolled {
  box-shadow: 0 0 5px $secondary-color;
}

@media screen and (max-width: 600px){
    body {
      background: $secondary-color;
    }

    .content { width: 100% !important; }


    h2, h3, p, label { color: #fff; }

    div { display: block; }

    .image, .main-page {
      display: block;
      float: none !important;
      clear: both !important;
      margin: 0 auto !important;
      position: relative;
    }

    .nav-bar {
      ul {
        height: 300px;
      }

      li {
        float: none !important;
        height: 50px;
      }

      li:not(.logo) {
        background: $secondary-color;

        a {
          color: $primary-color;
          padding: 14px 16px !important;
        }
      }
    }

    .content {
      padding-top: 300px !important;
    }

    .image {
      float: none;
    }
}

.content {
  padding-top: 120px;
  margin: 0 auto;
  width: 900px;
}

.main-page {
  a {
    color: $primary-color;
  }
  p{
    padding: 0 20px;
  }
  p:first-child {
    padding-top: 100px;
  }
}
.image {
  border-radius: 300px;
  height: 300px;
  float: left;
  margin: 30px;
  width: 300px;
}


.form-group {
  display: block;
  margin: 20px 0;

  label {
    display: block;
    font-size: 20px;
  }

  a {
    color: $primary-color;
    font-size: 20px;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid $secondary-color;
  display: block;
  color: $secondary-color;
  font-size: 17px;
  padding: 10px 12px;
  margin: 15px 5px;
  width: 98%;
}

.form-control:focus {
  border-bottom: 1px solid $primary-color;
}

.btn {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  color: #fff;
  padding: 12px 25px;
}

.btn:hover {
  background: transparent;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

.btn-defaul{

}

.q-message, .contact {
  padding: 10px;
  width: 47%;
}

.contact {
  float: left;
}

//contact
#sn {
  list-style-type: none;
  overflow: hidden;

  li, a {
    display: block;
  }
}

.resume {
  h2 {
    text-align: center;
  }
  li {
    padding: 10px;
    color: $secondary-color;
  }
}

footer {
  display: block;
  clear: both;
  float: none;
  margin-top: 100px !important;

  p {
    display: block;
    float: none;
    text-align: center;
  }
}