@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body {
  background: #fff;
  font: 100% "Roboto Condensed", sans-serif; }

a, a:hover {
  text-decoration: none; }

a, h1, h2, h3, p, label, textarea {
  color: #555;
  font-family: 'Roboto Condensed', sans-serif; }

h1 {
  font-size: 60px;
  letter-spacing: -5px; }

h2 {
  font-size: 40px;
  letter-spacing: -3px; }

h3 {
  font-size: 25px; }

p {
  font-size: 15px; }

header {
  background: #fff;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.nav-bar {
  height: 80px; }
  .nav-bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    list-style-type: none;
    padding: 10px 12px; }

.logo-item {
  flex-grow: 5; }

.nav-item {
  flex-grow: 0.5;
  flex-basis: 10px;
  transition: all 0.2s ease-in-out;
  color: #555;
  text-align: center; }
  .nav-item a {
    border-bottom: 2px solid transparent; }

.nav-item a:hover {
  border-bottom: 2px solid #6be5b4; }

.scrolled {
  box-shadow: 0 0 5px #555; }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px 70px;
  margin-top: 100px;
  width: auto; }

.conteiner {
  margin: 0 30px;
  padding: 10px; }
  .conteiner a {
    color: #6be5b4; }

.image {
  border-radius: 300px;
  height: 300px;
  width: 300px; }

.contact, .q-message {
  align-self: flex-start;
  flex-basis: 45%; }

.form-group {
  display: block;
  margin: 20px 0; }
  .form-group label {
    display: block;
    font-size: 20px; }
  .form-group a {
    color: #6be5b4;
    font-size: 20px; }

.form-control {
  border: none;
  border-bottom: 1px solid #555;
  display: block;
  color: #555;
  font-size: 17px;
  padding: 10px 12px;
  margin: 15px 5px;
  width: 98%; }

.form-control:focus {
  border-bottom: 1px solid #6be5b4; }

.btn {
  background: #555;
  border: 1px solid #555;
  border-radius: 8px;
  color: #fff;
  padding: 12px 25px;
  transition: all 0.2s ease-in-out; }

.btn:hover {
  background: transparent;
  border: 1px solid #555;
  color: #555; }

footer {
  display: block;
  clear: both;
  float: none;
  margin-top: 100px !important; }
  footer p {
    display: block;
    float: none;
    text-align: center; }

@media screen and (max-width: 600px) {
  body {
    background: #555; }
  .nav-bar ul {
    flex-direction: column;
    padding: 0; }
  .nav-item {
    background: #555;
    padding: 10px 20px;
    width: 100%; }
    .nav-item a {
      color: #fff; }
  .nav-item:hover {
    background: #6be5b4; }
    .nav-item:hover a {
      border-bottom: 2px solid transparent; }
  h2, h3, p, label {
    color: #fff; }
  a {
    color: #6be5b4; }
  .content {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px; }
  .conteiner {
    align-self: center;
    flex-basis: 95%;
    margin: 0;
    width: 90%; }
  .btn {
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff; }
  .btn:hover {
    border: 1px solid #6be5b4;
    border-radius: 8px;
    color: #6be5b4; } }
