@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

$font-stack: 'Roboto Condensed', sans-serif;
$primary-color: #6be5b4;
$secondary-color: #555;

* {
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  font: 100% $font-stack;
}

a, a:hover { text-decoration: none; }

a, h1, h2, h3, p, label, textarea { 
  color: $secondary-color;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 60px;
  letter-spacing: -5px;
}

h2 { 
  font-size: 40px;
  letter-spacing: -3px;
}

h3 { font-size: 25px; }

p {
  font-size: 15px;
  padding: 10px 0;
}

.inline { display: inline-block; }

header { 
  background: #fff; 
  border-bottom: 1px solid $secondary-color;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header::after{
  content: ".";
  display: block;
  clear: both;
  height: 0; 
}

.nav-bar {
  height: 80px;

  ul{
    float: right;
    list-style-type: none;
    overflow: hidden;
    height: 100%;
  }

  li{
    display: inline-block;
    height: 100%;
    width: 75px;
  }

  li:hover:not(.logo) {
    background-color: $primary-color;

    a{
      color: #fff;
    }
  }

  .logo {
    float: left;
    text-align: center;
    line-height: 80px;
    padding: 0 16px;
    height: 100%;
  }
}

.nav-item{
    display: block;
    color: $secondary-color;
    text-align: center;
    line-height: 80px;
    padding: 0 16px;
    position: relative;
    height: 100%;
}

.scrolled {
  box-shadow: 0 0 5px $secondary-color;
}

#small-menu { display: none; }

@media screen and (max-width: 600px){
    body {
      background: $secondary-color;
    }

    #small-menu{ 
      display: block;
      float: right;
    }

    .nav-bar ul{
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: auto;

      li{
        display: block;
        height: 50px;
        width: 100%;

        a{
          display: block;
          line-height: 50px;
          height: 100%;
          padding: 0;
          width: 100%;
        }
      }
    }

    .content { width: 100% !important; }


    h2, h3, p, label { color: #fff; }

    div { display: block; }

    .image, .main-page {
      display: block;
      float: none !important;
      clear: both !important;
      margin: 0 auto !important;
      position: relative;
    }

    .content {
      padding-top: 300px !important;
    }

    .image {
      float: none;
    }
}

.content {
  padding-top: 120px;
  margin: 0 auto;
  width: 900px;
}

.main-page {
  a {
    color: $primary-color;
  }
  p{
    padding: 0 20px;
  }
  p:first-child {
    padding-top: 100px;
  }
}
.image {
  border-radius: 300px;
  height: 300px;
  float: left;
  margin: 30px;
  width: 300px;
}


.form-group {
  display: block;
  margin: 20px 0;

  label {
    display: block;
    font-size: 20px;
  }

  a {
    color: $primary-color;
    font-size: 20px;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid $secondary-color;
  display: block;
  color: $secondary-color;
  font-size: 17px;
  padding: 10px 12px;
  margin: 15px 5px;
  width: 98%;
}

.form-control:focus {
  border-bottom: 1px solid $primary-color;
}

.btn {
  background: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  color: #fff;
  padding: 12px 25px;
}

.btn:hover {
  background: transparent;
  border: 1px solid $secondary-color;
  color: $secondary-color;
}

.btn-defaul{

}

.q-message, .contact {
  padding: 10px;
  width: 47%;
}

.contact {
  float: left;
}

//contact
#sn {
  list-style-type: none;
  overflow: hidden;

  li, a {
    display: block;
  }
}

.resume {
  h2 {
    text-align: center;
  }
  li {
    padding: 10px;
    color: $secondary-color;
  }
}

footer {
  display: block;
  clear: both;
  float: none;
  margin-top: 100px !important;

  p {
    display: block;
    float: none;
    text-align: center;
  }
}