@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #fff;
  font: 100% "Roboto Condensed", sans-serif; }

a, a:hover {
  text-decoration: none; }

a, h1, h2, h3, p, label, textarea {
  color: #555;
  font-family: 'Roboto Condensed', sans-serif; }

h1 {
  font-size: 60px;
  letter-spacing: -5px; }

h2 {
  font-size: 40px;
  letter-spacing: -3px; }

h3 {
  font-size: 25px; }

p {
  font-size: 15px;
  padding: 10px 0; }

.inline {
  display: inline-block; }

header {
  background: #fff;
  border-bottom: 1px solid #555;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

header::after {
  content: ".";
  display: block;
  clear: both;
  height: 0; }

.nav-bar {
  height: 80px; }
  .nav-bar ul {
    float: right;
    list-style-type: none;
    overflow: hidden;
    height: 100%; }
  .nav-bar li {
    display: inline-block;
    height: 100%;
    width: 75px; }
  .nav-bar li:hover:not(.logo) {
    background-color: #6be5b4; }
    .nav-bar li:hover:not(.logo) a {
      color: #fff; }
  .nav-bar .logo {
    float: left;
    text-align: center;
    line-height: 80px;
    padding: 0 16px;
    height: 100%; }

.nav-item {
  display: block;
  color: #555;
  text-align: center;
  line-height: 80px;
  padding: 0 16px;
  position: relative;
  height: 100%; }

.scrolled {
  box-shadow: 0 0 5px #555; }

#small-menu {
  display: none; }

@media screen and (max-width: 600px) {
  body {
    background: #555; }
  #small-menu {
    display: block;
    float: right; }
  .nav-bar ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: auto; }
    .nav-bar ul li {
      display: block;
      height: 50px;
      width: 100%; }
      .nav-bar ul li a {
        display: block;
        line-height: 50px;
        height: 100%;
        padding: 0;
        width: 100%; }
  .content {
    width: 100% !important; }
  h2, h3, p, label {
    color: #fff; }
  div {
    display: block; }
  .image, .main-page {
    display: block;
    float: none !important;
    clear: both !important;
    margin: 0 auto !important;
    position: relative; }
  .content {
    padding-top: 300px !important; }
  .image {
    float: none; } }

.content {
  padding-top: 120px;
  margin: 0 auto;
  width: 900px; }

.main-page a {
  color: #6be5b4; }

.main-page p {
  padding: 0 20px; }

.main-page p:first-child {
  padding-top: 100px; }

.image {
  border-radius: 300px;
  height: 300px;
  float: left;
  margin: 30px;
  width: 300px; }

.form-group {
  display: block;
  margin: 20px 0; }
  .form-group label {
    display: block;
    font-size: 20px; }
  .form-group a {
    color: #6be5b4;
    font-size: 20px; }

.form-control {
  border: none;
  border-bottom: 1px solid #555;
  display: block;
  color: #555;
  font-size: 17px;
  padding: 10px 12px;
  margin: 15px 5px;
  width: 98%; }

.form-control:focus {
  border-bottom: 1px solid #6be5b4; }

.btn {
  background: #555;
  border: 1px solid #555;
  border-radius: 8px;
  color: #fff;
  padding: 12px 25px; }

.btn:hover {
  background: transparent;
  border: 1px solid #555;
  color: #555; }

.q-message, .contact {
  padding: 10px;
  width: 47%; }

.contact {
  float: left; }

#sn {
  list-style-type: none;
  overflow: hidden; }
  #sn li, #sn a {
    display: block; }

.resume h2 {
  text-align: center; }

.resume li {
  padding: 10px;
  color: #555; }

footer {
  display: block;
  clear: both;
  float: none;
  margin-top: 100px !important; }
  footer p {
    display: block;
    float: none;
    text-align: center; }
